# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.xml
*.iml
Assignment2/cmake-build-debug/
Assignment1/.idea/
Assignment2/.idea/
Assignment1/.idea/workspace.xml
Assignment3/C/.idea/
Assignment3/C/cmake-build-debug
Assignment3/C/CMakeLists.txt
Assignment2/CMakeLists.txt
